@font-face {
    font-family: letraderick;
    src: url(get_schwifty.ttf);
    /* tipografia del nombre de la tarjeta */
}

@font-face{
    font-family: estilosdeletras;
    src: url(OPTISantita.otf);
}
.container {
    background-color: rgb(135, 105, 105);
    width: 11%;
    margin:  10px auto;
    padding: 0.2em;
    line-height: 1.2em;
    font-size: xx-small;
    border-radius: 60px;
    margin-left: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 4px solid rgb(106, 49, 69);
    /* text-align: center; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.num{
    font-size: x-small;
}

.closeBotton {
    border: 0;
    background-color: rgb(188, 190, 190);
    width: 20px;
    border-radius: 100px;
}

.corazonBotton {
    border: 0;
    background-color: rgb(135, 105, 105);
    border-radius: 100px;
}

.tamanoIgen {
    width: 70%;
    margin: auto;
    padding: 0.5em;
    border-radius: 9999px;
    margin: 0.1em;
    border: 1.5px solid rgb(242, 8, 8);
}

.estiloCard {
    font-family: letraderick;
    font-size: xx-small;
}
.stiloletrasCard{
font-family: estilosdeletras;
font-size: xx-small;
}