.divContainer {
    width: 100vw;
    border: #57f70700 solid;
    text-align: center;
}

.loginStyle {
    background-color: #f209ea00;
    border-radius: 5px;
    color: #080808bf;
    font-size: large;
}

.container {
    background-color: #f5f8f864;
   
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    border-radius: 50px;
}

.container label {
    margin: 0.3em;
    width: 20em;
    text-align: right;
}

.container input {
    width: 15vw;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border: solid #ccc;
    box-sizing: border-box;
}

.container .warning {
    border: solid red 2px;
    border-radius: 0.5em;
}

.danger {
    font-size: 12px;
    color: #fffffecb;
    margin-top: 0.1em;
    font-weight: 600;
    background-color: rgb(234, 14, 14);
    padding: 0.5em;
    border-radius: 0.5em;
}