@font-face {
    font-family: letraderick;
    src: url(get_schwifty.ttf);
    /* tipografia del nombre de la tarjeta */
}

@font-face{
    font-family: estilosdeletras;
    src: url(OPTISantita.otf);
}
.container {
    background-color: rgb(135, 105, 105);
    width: 10%;
    margin:  50px auto;;
    padding: 0.2em;
    line-height: 1.2em;
    font-size: xx-small;
    border-radius: 10px;
    margin-left: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.6);
    border: 4px solid rgb(74, 57, 76);
}

.num{
    font-size: x-small;
}

.closeBotton {
    border: 0;
    background-color: rgb(188, 190, 190);
    width: 20px;
    border-radius: 5px;
    /* display: flex; */
}

.tamanoIgen {
    width: 90%;
    margin: auto;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em;
    border: 1.5px solid rgb(127, 72, 72);
}

.estiloCard {
    font-family: letraderick;
    font-size: xx-small;
}
.stiloletrasCard{
font-family: estilosdeletras;
font-size: xx-small;
}